@import 'style-section/menu-mobile.css';
@import 'style-section/main.css';
@import 'style-section/about-me.css';
@import 'style-section/skill.css';
@import 'style-section/project.css';
@import 'style-section/responsive.css';

body {
  margin: 0;
  border: 0;
  background-color: #121212;
  color: white;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav {
  padding: 0 15%;
  display: flex;
  align-items: center;
  background-color: #151515;
  border-bottom: 2px solid #272727;
  font-weight: bold;
  height: 80px;
  transition: 0.3s;
}

nav.fixed {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

nav ul {
  display: flex;
  justify-content: end;
}

nav ul li {
  list-style: none;
  margin: 10px 30px;
}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid #00d2df;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

nav p {
  padding: 10px;
  font-size: 1.3rem;
  width: 100%;
}

nav p a {
  color: #00d2df;
  transition: 0.3s;
}

nav p a:hover {
  color: rgba(147, 88, 247, 1);
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
p {
  margin: 0;
}

.main,
.about-me,
.skill,
.projects {
  padding: 6.5% 15%;
  min-height: 35vh;
}

section h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

footer {
  padding: 2rem 0;
  text-align: center;
}

footer p {
  display: inline-block;
}

footer span {
  color: #00d2df;
  font-weight: bold;
  transition: .4s;
}

footer span:hover {
  color: rgba(101, 24, 180, 1);
}

[data-anime="js-scroll"] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 0.5s;
}

[data-anime="js-scroll"].animation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}

h6 {
  font-size: 20px;
}