@import 'menu-mobile.css';

body {
    margin: 0;
    border: 0;
    background-color: #121212;
    color: white;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    padding: 0 15%;
    display: flex;
    align-items: center;
    background-color: #151515;
    border-bottom: 2px solid #272727;
    font-weight: bold;
    height: 80px;
    transition: 0.3s;
}

nav.fixed {
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
}
  
nav ul {
    display: flex;
    justify-content: end;
}
  
nav ul li {
    list-style: none;
    margin: 10px 30px;
}
  
nav ul li::after {
    content: "";
    display: block;
    border-bottom: 2px solid #00d2df;
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
nav ul li:hover::after {
    transform: scaleX(1);
}

nav p {
    padding: 10px;
    font-size: 1.3rem;
    width: 100%;
}
  
nav p a {
    color: #00d2df;
    transition: 0.3s;
}
  
nav p a:hover {
    color: rgba(147, 88, 247, 1);
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2,
p {
  margin: 0;
}

main {
    color: #c4c4c4;
}

.main,
.about-me,
.skill,
.projects {
  padding: 6.5% 15%;
  min-height: 35vh;
}

section h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 60vh;
}

.main .scroll{
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.main .scroll p{
  padding: 1rem 0;
  display: inline-block;
}

.main .scroll img {
  animation: scroll-down 3s infinite forwards;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}


.main__left {
  width: 20%;
  margin: 5rem 0;
}

.main__right {
  width: 30%;
  margin: 2rem 0;
  transition: all 5s ease-in-out;
}

.main__right:hover {
  transform: scale(1.1);
}

.main h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.main span {
  font-size: 3rem;
  text-transform: uppercase;
  color: #00d2df;
  font-weight: 600;
  letter-spacing: 3px;
}

.main .main__input-cursor {
  width: 3px;
  height: 42px;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 3px;
  animation: blink 0.6s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.main__button {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.main__button-linkedin,
.main__button-github {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: #121212;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
}

.main__button-linkedin::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    -45deg,
    rgba(147, 88, 247, 1),
    rgba(16, 215, 226, 1)
  );
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.main__button-linkedin:hover,
.main__button-github:hover {
  background-color: #272727;
  text-shadow: 1px 1px 3px #00bbc5;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main__button-github::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    150deg,
    rgba(210, 64, 116, 1),
    rgba(101, 24, 180, 1)
  );
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.main__button-linkedin p,
.main__button-github p,
.main__button-github img {
  padding: 9px 0 5px;
}

.main__button-linkedin img {
  margin-right: 5px;
}

.main__button-linkedin img,
.main__button-github img {
  width: 22px;
}

@media (max-width: 880px) {
  .main,
  .about-me {
    padding: 22% 0;
    text-align: center;
  }

  .main {
    flex-direction: column;
  }

  .main__left {
    width: 90%;
  }

  .main__right {
    display: none;
  }

  .main__button {
    width: 320px;
    margin: 1rem auto;
  }
  .about-me {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .about-me__foto {
    width: 80%;
  }

  .img-skill {
    display: none;
  }
}

@media (max-width: 460px) {
  .main span {
    font-size: 1.8rem;
  }

  .main .main__input-cursor {
    height: 30px;
  }

  .main__button-linkedin,
  .main__button-github {
    width: 110px;
  }

  .main__button {
    width: auto;
    justify-content: space-around;
  }

  footer {
    font-size: 0.8rem;
  }
}

.about-me{
  background-color: #151515;
  z-index: 0;
  position: relative;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

.about-me {
  display: flex;
  justify-content: space-around;
}

.about-me__text {
  line-height: 1.5rem;
  width: 70%;
}

.about-me h2 {
  margin-bottom: 1rem;
}

.about-me__foto {
    max-width: 50%;
}

.about-me__foto img {
  border-left: 5px solid #00d2df;
  filter: opacity(55%);
  transition: 0.4s;
  width: 60%;
}

.about-me__foto img:hover {
  filter: opacity(70%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.main {
  padding: 6.5%;
}

.about-me {
  padding: 8;
}

.slide {
  font-size: 55px;
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 100%;
  background-color: #141414;
  background-clip: content-box;
}

.slideshowDot {
  transition: 0.3s;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.slideshowDot.active {
  transition: 0.3s;
  background-color: #232323;
  border: 1px solid #5252f8;;
}

.skill-tille {
  margin-bottom: 65px;
}

.div-content {
  border-bottom: 3px dashed lightgray;
}

.container-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.list-skill{
  width: 755px;
  font-size: 30px;
}

.img-skill {
  transition: 0.3s;
} 

.img-skill-icon-left {
  transition: 0.3s;
} 

footer {
  padding: 2rem 0;
  text-align: center;
}

footer p {
  display: inline-block;
}

footer span {
  color: #00d2df;
  font-weight: bold;
  transition: .4s;
}

footer span:hover {
  color: rgba(101, 24, 180, 1);
}