*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    width: 100%;
    background-color: #1b1a28;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #F8F6FF;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: rgb(110, 255, 252);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: #F8F6FF;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(110, 255, 252);
    transition: .4s;
}
.btn{
    background-color: rgb(110, 255, 252);
    color: #F8F6FF;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
   width: 100%;
   padding: 100px 0px;
   background-color: transparent;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.hi{
    margin: 20px 0px 20px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
}
.img{
    height: auto;
    width: 300px;
    text-align: right;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 0px 200px;
    transition: all 5s ease-in-out;
}
.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 10s steps(40) 1s normal;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 43em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255,255,255,0.75)
    }
    to {
        border-right-color: transparent;
    }
}
.img:hover{
    transform: scale(1.2);
}
h1{
    color: #F8F6FF;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    color: #F8F6FF;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #C3C8CF;
    letter-spacing: 2px;
    font-size: 20px;
}