@media (max-width: 400px) {
  .my-typed-animation {
    font-size: 2.2rem;
  }
  
  span {
    color: lightgray;
  }
}

@media (max-width: 1440px) and (min-width: 768px) {
  .my-typed-animation {
    font-size: 2.2rem;
  }
  
  span {
    color: lightgray;
  }
}

@media (max-width: 650px) and (min-width: 401px) {
  .div-content-main {
    text-align: center; 
  }

  .my-typed-animation span {
    font-size: 2.2rem;
  }

  .my-typed-animation {
    font-size: 2.2rem;
    width: auto;
  }
}